.idea/
**/.idea/
/food_delivery_backend/utils/scripts/test.py
/food-delivery-app/test/
**/__pycache__/
/food-delivery-app/lib/main.reflectable.dart
/food_delivery_backend/w_rc_sys/data/
/food_delivery_backend/w_rc_sys/ml_models/
/food_delivery_backend/w_rc_sys/load_data.ipynb
/food_delivery_backend/w_rc_sys/recommendations.ipynb